name: 02 - Workflow Events

on: 
  push
  pull_request
  schedule:
    - cron: '5 0 * * *'
  workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Show the trigger
        run: echo "The event that triggered this workflow was ${{ github.event_name }}."